.App {
  font-family: sans-serif;
}

html {
  box-sizing: border-box;
  background-color: grey;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

div {
  margin: 0.5rem 0 0 0;
}

li {
  list-style: none;
  margin: 0.5rem;
}

hr {
  border: 2px solid black;
}
